body{
display: flex;
font-family: 'Courier New', Courier, monospace;
text-align: center;
font-size: x-large;
background-color: lightcyan;
justify-content: center;
align-items: center;
height: 100vh;
}

.formulario{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}